*{
  padding: 0;
  margin: 0;
  font-family: 'Arapey', serif;
  
}
#selector{
  height: 34px;
  width: 300px;
  margin-left: -13px;
  border-radius: 20px;

}

.radio{
  width: 8%;
 height: 2em;
}

.j{
  padding: 60px;
  border-radius: 10px;
  width: 20%;
  transform: translateY(50px);
  margin-left: 900px;
  background: rgba(74, 76, 79,0.6);
  height: 700px;

   
}
.uno{
  
  width: 300px;
  height: 30px;
  margin-left: -15px;
  border-radius: 10px;
  border:none;
  font-size: 20px;
}
img{
  width: 100%;
  height: 950px;
  position: absolute;

}
h3{
  padding: 10px;
  margin-left: 5%;
  color: #fff;
}
label{
  color: #fff;
}
.dos {
  height: 50px;
  width:305px;
  margin: 20px;
  margin-left: -15px;
  top: 100px;
  position: relative;
  border:none;
  background: rgb(31, 242, 16);
  border-bottom:0;
  box-shadow: 2px 2px #667066;
  cursor: pointer;
  padding: 5px;
  font-size: 23px;
  color: #fff;

  
}
.dos:hover{
  background: rgb(31, 183, 20);
  box-shadow: 1px 1px #667066; 
}
h1{
  color: #fff;
  margin-top: -90px;
  margin-left: 10px;
  font-size: 40px;
}

.jaja{
  margin-left: -800px;
  font-size: 100px;
  color: #17d123;

}
.p2{
  margin-left: -900px;
  color:#fff;
  font-size: 30px;

}
.p2:hover{
  color: #17d123;
}
.imagenes{
  height: 60px;
  width: 60px;
  margin-top: 30px;
}
.imagenes:hover{
  height: 80px;
  width: 80px;
}
.imagen2{
  margin-left: 200px;
}
.imagen3{
  margin-left: 100px;
}
@media only screen and (max-width:1000px){
  img{
    width: 100%;
  }
  .j{

margin: auto;
width: 300px;
position: relative;
top: 50px;

  }
  .jaja{
    top: -100px;
    position: absolute;
    margin: auto;
  }
  .p2{
    color:rgba(0, 0, 0, 0);
  }
  .p2:hover{
    color:rgba(0, 0, 0, 0);
  }
  @media only screen and (max-width:500px) {
    #d{
      visibility: hidden;
    }
   body{
     background: #fcfcfc;
   }
    
}